<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} YMCA Mobile Market {% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  <img src="static/logo.svg" class="logo pl-3" width="45" height="45">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#baseNavbar" aria-controls="baseNavbar" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="baseNavbar">
	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	    <li class="nav-item">
	      <a class="nav-link" href="/">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/daily">Today</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/visit">Plan Visit</a>
	    </li>
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Analysis
	      </a>
	      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<li><a class="dropdown-item disabled" href="/totals">Reported Totals</a></li>
		<li><a class="dropdown-item" href="/trends">Trends</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="/bag">Location Reports</a></li>
	      </ul>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link disabled" href="https://docs.google.com/document/d/1PKE8UJou2HRHoFSbQFzJpS-vAnGRLew_DqpHzrJpG84/view" aria-disabled="true">Instructions</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    
    {% block body %}
    <p> Hi </p>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script type="module" src="/static/{% block javascript %}main.js{% endblock %}"></script>
    

  </body>
</html>
