
{% extends 'base.html' %}
{% block title %} Home | YMCA Mobile Market {% endblock %}

{% block body %}
<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="container-sm themed-container">
	<h2> Inventory </h2>
	<table class="table table-bordered table-themed">
	  <tbody id="inventory_list">
	    <tr id="item-new">
	      <td colspan="100%">
		<form id="additem">
		  <input id="name" type="text" />
		  <div class="float-end">
		    <input type="submit" class="btn btn-success" value="+" />
		  </div>
		</form>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <div class="container">
	<a href="new_visit/">Add Visit</a>
      </div>
      <div class="container" id="d3-box">
	<p>hi</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}    

