
{% extends 'base.html' %}
{% block title %} Home | YMCA Mobile Market {% endblock %}

{% block body %}
<div class="container-sm">
  <div class="jumbotron mx-auto my-4 p-4 bg-light rounded">
    <h1> YMCA Hunger Prevention | Mobile Market </h1>
    <p> Welcome! Contained in this web app, you'll find the data from all past mobile market visits, and tools for configuring the Square POS app on our checkout tablets.</p>
    <ul>
      <li> Heading out to a mobile market site? <a href="/visit">Configure Square Options</a> on this page.</li>
      <li> Looking to see totals from today's visit? Visit the <a href="/daily">Today</a> page.</li>
      <li> Looking for analysis on past data from each location? Visit the <a href="/bag">Location Report</a> page.</li>
    </ul>
    <p><strong>Overall instructions on how to use Square and this app can be found <a href="https://docs.google.com/document/d/1PKE8UJou2HRHoFSbQFzJpS-vAnGRLew_DqpHzrJpG84/view">here</a></strong>.</p>
    <p> Created by Kiran Vuksanaj. Questions? Email <em>kiranv at mit dot edu</em>.</p>
  </div>
</div>
{% endblock %}    

